In [6]:
import pandas as pd
s1 = pd.Series(range(4),index=['d','a','c','b'])
s1

d    0
a    1
c    2
b    3
dtype: int64

In [7]:
#ascending預設值為Ture 由小到大排列,False 則是由大到小排列。
#sort_index()將index 按照字首or數字先後順序進行排序(index也可以排序的喔) 
s1.sort_index()

a    1
b    3
c    2
d    0
dtype: int64

In [8]:
#sort_value()會將數值進行排序 
s1.sort_values()

d    0
a    1
c    2
b    3
dtype: int64

In [15]:
import numpy as np
frame = pd.DataFrame(np.arange(9).reshape(3,3),
             index=['three','two','one'],
             columns=['a','c','b'])
frame

       a  c  b
three  0  1  2
two    3  4  5
one    6  7  8

In [17]:
frame.sort_index(axis=1)
#因為axis=1 所以優先進行欄的排序

       a  b  c
three  0  2  1
two    3  5  4
one    6  8  7

In [18]:
frame.sort_values(by='a',ascending=False)

       a  c  b
one    6  7  8
two    3  4  5
three  0  1  2